.header {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color:#171717;
    font-family: "Montserrat", sans-serif;
    font-size: 3.2vw;
    padding-bottom: 10px;
    box-shadow: 0px 1px 8px black;
    color: white;
    z-index: 100;
  }
  
  @media (max-width: 1000px) {
    .header {
      padding-top: 8px;
      font-size: 5vw;
    }
  }